# Ignoruj folder node_modules
node_modules

# Ignoruj pliki logów
*.log

# Ignoruj pliki tymczasowe systemu
.DS_Store
Thumbs.db

# Ignoruj pliki kompilacji
*.out
*.class
# Ignoruj plik .env.local
.env.local