.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popupContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 70%;
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .innerWrapper {
      position: relative;
      width: 100%;
      display: flex;
      background-color: #f0f8f9; 
      color: #2e7f89;
      justify-content: space-between;
      padding: 10px;
  }
  .textAction{
    margin: 50px 0px;
  }
}

.closeButton {
  padding: 10px 20px;
  background-color: #255a6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popupActions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
