.seven {
	padding: 50px 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.text {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.mainHeading {
	font-size: 38px;
	line-height: 44px;
	width: 100%;
	margin-top: 0;
	white-space: pre-wrap;
	margin-bottom: 50px;

	@media screen and (max-width: 899px) {
		margin-bottom: 0;
	}
}

.bottomSection {
	display: flex;

	@media screen and (max-width: 899px) {
		flex-direction: column;
		gap: 30px;
	}
}

.leftSection {
	width: 100%;
	display: flex;
	justify-content: center;
}

.inner {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.listContainer {
	width: 100%;
}

.list {
	list-style-type: disc;
	margin-left: 20px;
	margin-bottom: 10px;
}

.rightSection {
	width: 100%;
	display: flex;
	justify-content: center;
}

.image {
	display: flex;
	justify-content: center;
}
