.adminBar {
  display: flex;
  justify-content: center;
  min-height: 90px;
  background: #f1f1f1;
  align-items: center;
  margin: 50px auto;
}
.list {
  margin-bottom: 200px;
}

.container {
  margin: 0 auto;
  padding: 100px 0px 100px 16px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.listContainer {
  margin: 0 auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHead {
  background-color: #f9fafb;
}

.tableHeader {
  text-align: left;
  font-weight: 600;
  padding: 12px;
}

.tableBody {
  background-color: #ffffff;
}

.tableRow {
  border-bottom: 1px solid #e5e7eb;
}

.tableCell {
  padding: 12px;
  font-size: 14px;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  padding: 50px 0px;
}

.paginationButton {
  margin: 4px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  background-color: #24596a;
  color: white;
  cursor: pointer;
}

.paginationButton:hover {
  background-color: #1e4b58;
}

.paginationButton:disabled {
  background-color: #d2d6dc;
  cursor: not-allowed;
}

.disabledButton {
  background-color: #d2d6dc !important;
  cursor: not-allowed !important;
}

.paginationNumbers {
  display: flex;
}

.paginationNumber {
  margin: 0 4px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  background-color: #24596a;
  color: white;
  cursor: pointer;
}

.paginationNumber:hover {
  background-color: #1e4b58;
}

.activePage {
  background-color: #d2d6dc;
  color: black;
}
