.Eleven {
	.Container {
		margin: auto;
	}

	.top {
		text-align: center;
		margin-bottom: 20px;

		h4 {
			font-size: 25px;
		}
	}

	.blockParent {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 20px;
	}

	.singleBox {
		position: relative;
		border: 1px solid #ececec;
		border-radius: 5px;
		padding: 30px 20px;
		background: #f7f7f7;
		width: 350px;
		margin-top: 20px;
		display: flex;
		flex-direction: column;

		.available {
			position: absolute;
			top: -16px;
			padding: 5px 20px;
			background-color: #8bde7b;
			border-radius: 7px;
			color: #fff;
			font-size: 12px;
			text-transform: uppercase;
		}

		.date {
			position: absolute;
			right: 15px;
			top: 10px;
			font-size: 12px;
			color: #cbcbcb;
			font-weight: 600;
		}

		.imageContainer {
			display: flex;
			justify-content: center;
			margin-bottom: 16px;
		}

		.title {
			.anchor {
				color: #255a6b;
				text-decoration: underline;
				font-size: 25px;
			}

			.subtitle {
				color: #8d8d8d;
			}
		}

		.descriptionContainer {
			.listParent {
				margin-left: 16px;
				margin-top: 24px;
				min-height: 450px;

				.list {
					list-style-type: disc;
					color: var(--primary);
				}
			}

			.availabilityContainer {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 10px;
				margin-top: 20px;
			}

			.priceContainer {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 20px;
				margin-top: 30px;

				.price {
					font-weight: bold;
				}

				button {
					padding: 10px 20px;
					background-color: #255a6b;
					color: #fff;
					border: none;
					border-radius: 5px;
					cursor: pointer;
				}
			}
		}
	}
}

@media screen and (max-width: 1199px) {
	.blockParent {
		flex-direction: column;
	}

	.singleBox {
		width: 100%;
	}
}
