.Four {
	background-color: #f5f6f5;
	padding: 50px 0;
}
.container {
	margin: auto;
}
.top {
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
}

.textContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
