.Ebook {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	@media screen and (max-width: 500px) {
		padding: 16px;
	}
}
.container {
	margin: auto;
}

.topSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

.bottomSection {
	display: flex;
	align-items: center;
	justify-content: center;

	@media screen and (max-width: 900px) {
		flex-direction: column;
		gap: 30px;
	}
}

.inner {
	display: flex;
	gap: 10px;

	@media screen and (max-width: 900px) {
		flex-direction: column;
	}
}

.leftSection {
	width: 100%;
}

.image {
	display: flex;
	justify-content: center;
}

.rightSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	width: 100%;

	@media screen and (max-width: 500px) {
		padding: 0px 16px;
	}
}

.text {
	display: flex;
	flex-direction: column;
	gap: 10px;

	h6 {
		margin-top: 10px;
		margin-bottom: 20px;
	}

	li {
		list-style-type: disc;
		padding: 5px;
	}
}
