.Ebook {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Container {
	margin: auto;
}

.bottomSection {
	display: flex;
	align-items: center;
}

.Inner {
	display: flex;
	align-items: center;
	@media screen and (max-width: 899px) {
		display: flex;
		flex-direction: column;
	}
}

.leftSection {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.text {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.rightSection {
	width: 100%;
}

.image {
	display: flex;
	justify-content: center;
}
