.second {
	display: flex;
	align-items: center;
	justify-content: center;

	.Container {
		margin: auto;
	}

	.topSection {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;

		h2 {
			/* Style nagłówka h2 */
		}

		.smaller {
			font-size: 18px;
		}
	}

	.bottomSection {
		.inner {
			display: grid;
			grid-template-columns: 2fr 2fr;

			@media screen and (max-width: 899px) {
				flex-direction: column;
			}

			.leftSection {
				.image {
					display: flex;
					justify-content: center;
				}
			}

			.rightSection {
				display: flex;
				flex-direction: column;
				gap: 15px;

				.title {
					font-weight: bold;

					.smallerTitle {
						font-size: 25px;
					}
				}

				.text {
					display: flex;
					flex-direction: column;
					gap: 15px;

					p {
						/* Style paragrafów */
					}
				}
			}
		}
	}
}
