.container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 24px;
    margin: 100px 0px;
  }
  
  .formWrapper {
    background-color: #f4f4f4;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 384px;
  }
  
  .title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: #000;
    margin-bottom: 32px;
  }
  
  .input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    margin-bottom: 16px;
    font-size: 14px;
    color: black;
    outline: none;
    transition: border-color 0.2s ease;
  
   
  }
  
  .submitButton {
    width: 100%;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
  
    &:hover {
      background-color: #0056b3;
    }
  }
  
  .errorMessage {
    color: #ff4d4d;
    font-size: 16px;
    margin-top: 16px;
    text-align: center;
  }
  
  .separator {
    text-align: center;
    color: #bbb;
    margin: 16px 0;
  }
  
  .link {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    margin-top: 8px;
  
    &:hover {
      text-decoration: underline;
    }
  }
  