.parent{
	margin-top: 100px;
	margin-bottom: 100px;
}
.container{
	margin: auto;
}
.containers{
	margin: auto;
	padding-bottom: 50px;
}

.singleElement{
	display: flex;
		flex-direction: column;
		background: #faf8f6;
		border-radius: 4px;
		overflow: hidden;
		padding: 0;
}
.content{
	display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 20px;
		margin-left: 20px;
}
.etiquette{
	display: flex;
	gap: 5px;
}
.calendar{
	display: flex;
	gap: 5px;
}
.anchor {
	color: var(--primary);
}
.readMe{
	display: flex;
	gap: 5px;
	padding-bottom: 20px;
	.readmeAnchor{
		color: var(--primary);
		font-weight: 600;
		text-transform: uppercase;
	}
}